
*{ color:white; font-size: 20px; } .tela1{ height:650px; width:650px;
  background-image:
  url(https://lumiere-a.akamaihd.net/v1/images/hb_frozenanniversaryrefresh_fallback_mobile_2326_v2_f49_77e68f09.jpeg?region=0%2C0%2C640%2C480);
  background-size: 100% 100%; display: flex; justify-content: center; align-items:
  center; } .botao{ margin-top: 140px; background-color: cyan; border: 3px solid
  white; border-radius: 10px; height: 50px; width: 100px; } .tela2{
  background-image:
  url(https://pipocamusical.com.br/wp-content/uploads/2014/01/filme-frozen-princesa-boneco-neve.jpg);
  background-size: 100% 100%; height:650px; width:650px; display: none; } .tela3{
  height:650px; width:650px; background-image:
  url(https://m.media-amazon.com/images/I/71mABJOwQBL._UF1000,1000_QL80_.jpg);
  display: none; } .tela4{ background-image:
  url(https://pipocamusical.com.br/wp-content/uploads/2014/01/filme-frozen-princesa-boneco-neve.jpg);
  background-size: 100% 100%; height:650px; width:650px; display: none; } .tela5{
  background-image:
  url(https://s3.amazonaws.com/blog.dentrodahistoria.com.br/wp-content/uploads/2020/01/29180150/personagens-de-frozen-scaled.jpg);
  background-size: 100% 100%; height:650px; width:650px; display: none; }
