.tela1,
.tela2,
.tela3 {
  height: 650px;
  width: 650px;
  border: 5px solid black;
}
.tela1 {
  background-image: url(https://wallpapers.com/images/hd/boxing-ring-background-1136-x-936-2tli8c7bggok6b4t.jpg);
  background-size: 100% 100%;
  display: none1;
}
.tela2 {
  background-image: url(https://img3.stockfresh.com/files/i/izakowski/m/54/3673336_stock-vector-boxer-sportsman-cartoon-illustration.jpg);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  display: none;
}
.tela3 {
  background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/4595070-boxer-campeao-boxe-atleta-carregando-um-cinto-conceito-em-cartoon-ilustracao-vetor.jpg);
  background-size: 100% 100%;
  display: none;
}
button {
  font-size: 30px;
}
.botao_ganhou {
  display: none;
}
.life {
  height: 25px;
  width: 100px;
  background-color: green;
  margin-left: 30%;
  color: white;
  text-align: center;
}
